<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30" debug="true">
    <properties>
        <property name="msg" value="%m"/>
        <property name="msg.pattern" value="${msg}%n"/>
        <property name="common.pattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS} %5p] %c:%L - ${msg.pattern}"/>
        <property name="data.pattern" value="%d{yyyy_MM_dd_HH}.log"/>
        <property name="logBasePath" value="${sys:catalina.base:-/var/zjgt/data/iot}/logs"/>
        <property name="root.file.name" value="root.log"/>
        <property name="iot.file.name" value="iot.log"/>
        <property name="root.file" value="${logBasePath}/${root.file.name}"/>
        <property name="iot.file" value="${logBasePath}/${iot.file.name}"/>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="DEBUG"/>
            <PatternLayout pattern="${common.pattern}"/>
        </Console>

    </Appenders>

    <Loggers>
        <!--过滤掉spring和mybatis的一些无用的DEBUG信息-->
        <logger name="org.springframework" level="info"/>
        <logger name="org.mybatis" level="info"/>

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>